<div>
  {% if site.params.header.logo_img %}
  <p>
    <a href='{{ "/" | relative_url }}'><img src="{{ site.params.header.logo_img | relative_url }}"
        alt="Logo" /></a>
  </p>
  {% endif %}
  {% if page.template == "home" %}
  <h1><a href='{{ "/" | relative_url }}'>{{ site.params.header.title }}</a></h1>
  {% else %}
  <p><a href='{{ "/" | relative_url }}'>{{ site.params.header.title }}</a></p>
  {% endif %}
  {% if site.params.header.tagline %}
  <p>{{ site.params.header.tagline }}</p>
  {% endif %}
</div>
