{% if site.menus.main and site.params.header.has_nav %}
<naaria-label="Main Navigation">
  <div>
    <div>
      <ul>
        {% for item in site.menus.main %}
        <li class="{% if page.url == item.url %} current-menu-item{% endif %}">
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% if site.params.header.has_social %}
      {% include "social.html" %}
      {% endif %}
    </div>
  </div>
</nav>
<button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Menu</span><span class="icon-menu"
    aria-hidden="true"></span></button>
{% endif %}
