{% extends "body.html" %}

{% block content %}

  {% set include_dict = {'site': site, 'page': page, 'img_path': page.params.img_path} %}
  {% include "header.html" %}

  <div>
    <main>

      <article>
        <header>
          <h1 class="post-title">{{ page.params.title }}</h1>
        </header>
        {% if page.params.subtitle %}
        <div>
          {{ page.params.subtitle | safe }}
        </div>
        {% endif %}
        <div>
          {{ page.content }}
        </div>
      </article>

    </main>

    {% include "footer.html" %}

  </div>

{% endblock %}
